$bg-primary: #f3f4f9;

$fg-primary: #fff;
$fg-secondary: #f8f8fb;

$heading-primary: #1a1a1a;

$text-primary: #33373c;
$text-secondary: #63666e;
$text-active: #1952e1;
$text-unactive: #9a9da4;

$border-primary: #e2e4ea;
