@mixin dashed-border($color) {
  // Custom border generator
  // https://css-tricks.com/more-control-over-css-borders-with-background-image/
  $border: $color, $color 30px, transparent 30px, transparent 60px, $color 48px;

  background-image: repeating-linear-gradient($border),
    repeating-linear-gradient(90deg, $border),
    repeating-linear-gradient(180deg, $border),
    repeating-linear-gradient(270deg, $border);
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}
